
 .content {
  margin: auto; /* Center horizontally */ 
  width: fit-content;
  font-family: Arial, sans-serif;
}
  
  .btn1 {
    width: 120%;
    padding: 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
    margin-bottom: -30px;
    align-content: center;
    margin-top: 60px;
  }
  
  .btn1:hover {
    background-color: #4f4f4f;
  }
  
  .heading {
    color: #000000;
    font-size: 32px;
    font-family: sans-serif;
    margin-right: 0px;
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  