.shop-btn {
    display: inline-block;
    background-color: #000000; /* Blue color for primary button */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 0.5rem 1rem; /* Add padding */
    border-radius: 0.25rem; /* Add border radius */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.shop-btn:hover {
    
}

#prodcust .card {
    margin-bottom: 20px;
}

/* Custom CSS for ProductCustom */
#prodcust .mid {
    text-align: right; /* Align text to the right */
    direction: rtl; /* Set text direction to right-to-left */
  }
  
  @media (max-width: 767px) {
    .mid {
      text-align: left; /* For smaller screens, align text to the left */
      direction: ltr; /* Set text direction to left-to-right */
    }
  }
  
/* Custom CSS for ProductCustom */
#prodcust .card {
    display: flex;
}
  
#prodcust .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the cross axis */
    height: 100%;
}

    
#prodcust .card {
    position: relative; /* Position relative for the parent container */
}

/* Custom CSS for ProductCustom */
#prodcust .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

#prodcust .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Increase the size of the card on hover */
}


