/* AdminDash.module.css */
/* .container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.box {
    background-color: #ffffff;
    color: black;
    border-radius: 1px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: pulse 3s infinite alternate ease-in-out;
    padding: 14px;
}

.box:hover {
    background-color: #c1c1c1d8; 
    transform: scale(1.05); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.box > div:first-child {
    border-top-left-radius: 1px; 
    border-top-right-radius: 1px; 
    text-align: center;
}

.box > div:last-child {
    text-align: center;
}

.box h3 {
    font-size: 24px;
}

.box h1 {
    font-size: 48px;
    font-weight: bold;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* New Styles  */
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  .box h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .box h1 {
    margin: 10px 0;
    font-size: 36px;
    color: #d11002; /* Red color */
  }
  
  .header-content {
    background-color: #f8f9fa;
    padding: 12px;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-content p {
    margin: 0;
    font-size: 26px;
    font-family: serif;
  }
  
  .chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .chart-box {
    width: 30%;
  }
  
  .chart-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }


  .chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .chart-box {
    flex: 1;
    margin: 10px;
  }
  
  .profit-chart {
    flex-basis: 100%;
    height: 400px; /* Adjust as necessary for size */
  }
  
  
