.maincont {
    margin: 100px;
    margin-left: 500px;
    margin-right: 500px;
}

#containercheck .btn {
    background-color: black;
    color: white;
}

#containercheck .btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

#containercheck {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
}

#containercheck .form-label {
    font-weight: bold;
}

#containercheck .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#containercheck .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#containercheck .btn-back {
    background-color: black;
    color: white;
    padding: 10px 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  #containercheck .btn-back:hover {
    background-color: black;
  }
  
  #containercheck .btn-back svg {
    margin-right: 5px;
  }

  #orderdet .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

#orderdet .btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

#orderdet {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#orderdet h2 {
  color: #333;
  margin-bottom: 20px;
}

#orderdet .mb-3 {
  margin-bottom: 15px;
}

#orderdet table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#orderdet th, #orderdet td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#orderdet th {
  background-color: #f2f2f2;
  font-weight: bold;
}