.conatiner_all {
    max-width: 750px;
    max-height: fit-content;
    margin: auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    margin-bottom: 70px;
    
}


.conatiner_all .details {
    margin-top: -120px;
    padding: 10px;
    font-size: 19px;
    margin-left: 45px;
}

.marginBottom10 {
    padding-bottom: 10px;
}


.search0 {
    max-height: fit-content;
    border: 1px solid #2b2b2b;
    /* Add border style */
    padding: 15px;
    font-size: 16px;
    margin: 15px;

}


.search1 {
    max-width: 75%;
    max-height: fit-content;
    border: 1px solid #2b2b2b;
    padding: 12px;
    font-size: 14px;
    margin: 25px;
    margin-bottom: 50px;
    margin-left: -10px;
}


.search2 {
    width: 280px;
    max-height: fit-content;
    border: 1px solid #2b2b2b;
    padding: 15px;
    font-size: 16px;
    margin: 15px;
}

.search2 input [type="text"] {
    border: 1px solid #2b2b2b;
}

.search2::placeholder {
    font-size: 14px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.editform1 {
    max-width: 500px;
    /* Adjust the maximum width of the form */
    padding: 60px;
    /* Adjust the padding as needed */
}

.editform1 input[type="text"]
{
    width: 65%;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}

.editform1 textarea {
    width: 100%;
}


.editform1 label {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    /* Display labels inline */
    width: 100px;
    /* Set a fixed width for labels */
    margin-right: 10px;
    /* Add some margin between labels and form fields */
    margin-bottom: 7px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1.5px 1.5px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}


.editform1 h2 {
    margin-top: 0;
}

.swal-title,
.swal-text,
.swal-confirm-button,
.swal-cancel-button {
    font-family: Helvetica, Arial, sans-serif;
}

.popup1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupcontent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button2 {
    background-color: #000000;
    color: white;
    padding: 13px 22px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-right: 130px;
    /* Set margin-right to auto to fill available space */
    margin-left: 570px;
    margin-top: 10px;
}

.button2:hover {
    background-color: #4f4f4f;
}

.popup_button {

    background-color: #000000;
    color: white;
    padding: 13px 22px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    margin-right: 185px;
    margin-top: 22px;
    /* Set margin-right to auto to fill available space */
}

.popup_button:hover {
    background-color: #4f4f4f;
}

.Admin_buttons {
    margin-left: 580px;
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;

}

.Admin_buttons:hover {
    background-color: #4f4f4f;
}

.Report_button {
    align-items: center;
    margin-top: 20px;
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;

}

.Report_button:hover {
    background-color: #4f4f4f;
}

.Admin_buttons1 {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    align-content: center;

}

.Admin_buttons1:hover {
    background-color: #4f4f4f;
}