.container {
    margin-top: 20px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border: 1px solid #202020;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

.btn {
    color: #fff; /* White text */
}

.btn-primary {
    background-color: #202020; /* Black button */
}

.btn-danger {
    background-color: #202020; /* Black button */
}

.btn-success {
    background-color: #202020; /* Black button */
}
.btn-secondary{
    background-color: #202020;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.shop-btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

.shop-btn:hover {
    background-color: #333; /* Darker shade of black */
}

button {
    background-color: #202020;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
}

button:hover {
    transform: scale(1.1);
    background-color: #333;
}

.cart-footer {
    text-align: right;
    margin-top: 30px;
}

.cart-footer .total-price {
    margin-right: 20px;
}

.cart-footer button {
    background-color:#202020;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.cart-footer button:hover {
    background-color: #333;
}

/* Override text color for delete button */
.cart-footer button.btn-danger:hover {
    color: white;
}

.cart-footer table {
    border-collapse: collapse;
    width: 30%;
    margin: 20px auto; /* Center the table horizontally */
    text-align: right; /* Align text to the right within the table */
}

.cart-footer th,
.cart-footer td {
    border: 1px solid #ddd; /* Light border */
    padding: 8px;
    text-align: center;
}

.cart-footer th {
    background-color: #f2f2f2; /* Light gray background */
}

.total-price {
    margin-top: 3px;
}

.totprice {
    display: inline-block;
    text-align: left;
    width: 100px; /* Adjust width as needed */
}

.totdata {
    display: inline-block;
    text-align: center;
}

/* Customize SweetAlert2 success icon and animation color */
.swal2-icon.swal2-success .swal2-success-ring {
    border: 4px solid #bf1e2d; /* Change the border color of the success icon */
}

.swal2-icon.swal2-success [class^="swal2-success-line"] {
    background-color: #bf1e2d; /* Change the background color of the success icon */
}