.container {
    /* Your container styles */
    margin-left: 2em;
    margin-right: 2em;
  }
  
  .carousel img {
    height: 580px;
    width: 300px; /* Use 100% width */
    object-fit: cover; /* Maintain aspect ratio */
  }
  

  .customizationButton {
    background-color: black;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.customizationButton:hover {
    transform: scale(1.1);
}

  
  .selected {
    color: white; /* Set the color to white when selected */
  }

  .submitButton{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }

  .submitButton:hover {
    transform: scale(1.1);
    background-color:black;
  }
  
  .submittedMessage {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .userName {
    font-weight: bold;
  }
  
  .rating {
    font-style: italic;
  }
  
  .reviewContent {
    margin-top: 5px;
  }