@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #c3c3c3;
    --gray-color: #808080;
}

* {
    box-sizing: border-box;
   
    line-height: 1;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ececec;
}

.heading {
    background-color: var(--primary-color);
    padding: 25px 0;
    margin-bottom: 20px;
}

.heading h1 {
    margin: auto;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 21px;
    }
}

.container {
    width: 1180px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 35px;
}

@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.box {
    background-color: white;
    border-radius: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.12);
    gap: 17.5px;
}

.boxImg img {
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image covers the entire space */
}

.box img:hover {
    cursor: pointer;
    opacity: 0.95;
}

.box h3 {
    font-size: 20px;
}

.box p {
    padding: 0 20px;
    font-size: 12.5px;
    line-height: 1.35;
    color: var(--gray-color);
}

.boxOptions {
    margin-bottom: 25px;
}

.boxOptions button {
    color: white;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.boxOptions button:hover {
    background-color: var(--secondary-color);
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }


  .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    background-color: hsl(200, 20%, 95%);
    border-radius: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    gap: 17.5px;
    margin-right: 20px;
  }
 
  
  .skeletonText {
    width: 10px;
    height: 1rem;
   
    
  }
  
  
  
  @keyframes skeleton-loading {
    0% {
      background-color: white;
    }
  
    100% {
      background-color: white;
    }
  }
  
  

.skeletonBox {
    width: 300px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image covers the entire space */
    background-color: #e1e1e1; /* Adjust color as needed */
    border-radius: 1px; /* Adjust border-radius as needed */
}




.skeletonOptions {
    margin-bottom: 25px;
}

.skeletonOptions button {
    color: white;
    background-color: #e1e1e1;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
