/* styles.css */

/* Styling for inventory tables */
.all_table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
  border: 1px
}

.table_head{
  border: 1px solid #929191;
  padding: 5px;
  text-align: center;
  background-color: #c4c4c4;
}

.table_details{
  border: 1px solid #b1b1b1;
  padding: 6px;
  text-align: center;
}

/* Styling for edit popup */
.popup {
  height: 100vh;
  overflow-y:scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.875); /* Semi-transparent background */
  
}


.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 5px;
  width: 35%;
  height: fit-content;
  color: #fff;
}

.headtext {
margin-bottom: 40px;
color: #333;
border-bottom: 1px solid #ccc;
padding: 2px;
text-align: center;
color: #fff;
margin-top: 20px;
}


.popup_content label {
  display: block;
  margin-bottom: 10px;
}

.popup_content input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

.popup_content button {
  margin-right: 10px;
}


.all_inventory_button {
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 15px;
}

.customSwalContainer {
width: 100%;
}

